*{
    margin:0;
    padding:0;
}

.area-secao img{
    width:50%;
}

.card{
    justify-content: space-between;
    display:flex;   
}

.texto-card{
    width:50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }


@media (max-width:662px){
.card{
    align-items: center;   
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}
} 