.grid-sabores {
    margin-bottom:100px;
}
.grid-sabores .card{
    padding:20px;
    border:1px solid #f5e4e4;
    display:flex;
    flex-direction: column;
    margin:10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius:5px;
    height:326px;
    width:249px;
    
}

.grid-sabores .card h2{
    font-size:20px;
    margin:10px;
    flex-grow:1;
}

.grid-sabores .card p {
    flex-grow: 1; /* Adicionado para ocupar o espaço disponível */
}
.grid-sabores img{
    width:200px;
    height:200px;
}

.grid-sabores .container{
    display:flex;
    align-items: center;
    justify-content: center;
}

    .grid-sabores h1{
    
    margin-top:30px;
    
}

@media screen and (max-width: 768px) {
    
  
  
  
    .container {

      flex-direction: column;
      
      align-items: center;
    }
  
    .card {
      width: 100%;
      margin-bottom: 20px;
    }
  }